@font-face {
    font-family: 'Floreste Wavy';
    src: url('FloresteWavy.woff2') format('woff2'),
        url('FloresteWavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

